<mat-expansion-panel expanded='true' hideToggle class="mt12">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <h3> {{buttonLabel}} Form</h3>
        </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="createForm" autocomplete="off">
        <mat-form-field>
            <mat-label>Product Name</mat-label>
            <input required matInput formControlName='productName'>
            <mat-error class="mb12" *ngIf='createForm.controls["productName"].hasError("required")'>
                Product Name is required
            </mat-error>
        </mat-form-field>
        <br />
        <mat-form-field>
            <mat-label>Available Quantity</mat-label>
            <input required matInput type='number' formControlName='availableQuantity'>
            <mat-error class="mb12" *ngIf='createForm.controls["availableQuantity"].hasError("required")'>
                Available Quantity is required
            </mat-error>
        </mat-form-field>


        <div class="mt12">
            <button mat-raised-button color="accent" (click)="onSubmit(buttonLabel)"> {{buttonLabel}}</button>
        </div>
    </form>
</mat-expansion-panel>